
.bakerloo {
  background:#985d32
}
.central {
  background:#ce4743
}
.circle {
  background:#dfbd34
}

.district {
  background:#0f903e
}

.hammersmith-city {
  background:#d397ac
}

.jubilee {
  background:#636b70
}

.metropolitan {
  background:#72255b
}

.northern {
  background:#000000
}

.piccadilly {
  background:#2842d5
}

.victoria {
  background:#248bb8
}

.waterloo-city {
  background:#68b9a7
}

.london-overground {
  background:#c25e16
}

.elizabeth {
  background:#704fb9
}

.dlr {
  background:#079290
}

.c2c {
  background:#d02882
}

.chiltern-railways {
  background:#b389c1
}

.east-midlands-trains {
  background:#e16c16
}

.great-western-railway {
  background: #02303a
}

.first-hull-trains {
  background:#408b57
}

.first-transpennine-express {
  background:#d3739b
}

.london-north-eastern-railway {
  background:#982135
}

.south-western-railway {
  background:#237a9c
}

.west-midlands-trains {
    background:#274724
    
}

.gatwick-express {
  background:#262122
}

.east-midlands-railway {
  background:#7b2e94
}

.grand-central {
  background:#3f3f40
}

.lumo {
    background:#2d46c2
}

.avanti-west-coast {
  background:#114d55
}

.transport-for-wales {
  background:#a92f21;
}

.greater-anglia {
  background:#8b8fa5
}

.heathrow-connect {
  background:#f6858d
}

.heathrow-express {
  background:#55c4bf
}

.island-line { 
  background:#d69862
}

.merseyrail {
  background:#c6a158
}

.northern-rail {
  background:#0a6299
}

.scotrail {
  background:#94a4ac
}

.southeastern {
  background:#016dba
}

.southern {
  background:#0ca551
}

.cross-country {
  background:#a43f6f
}

.eurostar {
  background:#b9a977
}

.stanstead-express {
  background:#636366
}

.great-northern {
  background:#00a6e2
}

.thameslink {
  background:#da4290
}